:root {
    --dark: #131821;
    --light: #F2F5FA;
    --dark-bg: #01141d;
    --light-bg: #ffffff;
    --logo: #4066A5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Georgia";
    background: var(--light-bg);
    height: 100vh;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    position: fixed;
    width: 600px;
}

.nav-container .logo {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark);
}

.nav-container .right {
    display: flex;
}

.nav-container .menu-items a {
    font-size: 16px;
    font-weight: 200;
    color: var(--dark);
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
    transition: all 500ms;
}

.nav-container .menu-items a:hover {
    transform: translateY(-2px);
}

.image-section {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
}

.image-section h1 {
    font-size: 32px;
    color: var(--dark);
    line-height: 120%;
    width: 399px;
}

.image-section p.sub-heading {
    font-size: 16px;
    line-height: 28px;
    color: var(--dark);
    width: 399px;
}

.image-section .right {
    align-self: flex-end;
}

.image-section .right img {
    position: absolute;
    width: 1620px;
    height: 1080px;
    left: 680px;
    top: 0px;
}

.image-section .mid {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 200px;
    top: 500px;
    display: flex;
    margin-right: 20px;
}


/* Base */

.image-section .left img {
    position: absolute;
    width: 680px;
    height: 1080px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
}

.email-field:valid {
    border-color: black;
}

.email-field:invalid {
    border-color: red;
}